@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Collection";
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/collection.css" />
</head>
<body>
    <div class="mt-lg-5"></div>
    <h1>@User.Identity.Name's Pokemon Collection</h1>
    <div>
        <form asp-action="Collection" method="get">
            <div>
                <label for="searchBar">Search</label>
            </div>
            <div>
                <input id="searchBar" name="searchBar" type="text" />
                <input type="submit" value="Search Pokemon" />
            </div>
        </form>
    </div>
    <div id="searchResults">

    </div>
</body>
</html>