@model Pikaball.Models.PokemonCollection
@{
    ViewData["Title"] = "Collection";
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/collection.css" />
</head>
<body>
    <div class="user-authorization-container">
        <h1 class="user-authorization-title">@User.Identity.Name's Pokemon Collection</h1>
        <div>
            <!--Search bar for pokemon search within user's collection-->
            <form asp-action="Collection" method="get">
                <div>
                    <label for="searchBar">Search</label>
                </div>
                <div>
                    <input id="searchBar" name="searchBar" type="text" />
                    <input type="submit" value="Search Pokemon" />
                </div>
            </form>
        </div>
        <!--Search result box-->
        <div id="searchResults">

        </div>
    </div>
    
</body>
</html>