@model IEnumerable<Pikaball.Models.PokemonCollection>
@{
    ViewData["Title"] = "HowToPlay";
}
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/howTo.css" />
</head>
<body>
    <div class="user-authorization-container how-to scrollbar-near-moon">
        <br /><h1>How to play</h1><br />
        <h3>Basics</h3>
        <p>
            The basic functionality of this game is to summon pokemon, unlock pokemon, and add as many as you can in your collection. 
            You can navigate through the website using the navigation bar at the top. To summon a pokemon, start off by clicking the big 
            red pokeball on the play page. All the pokemon you summon can be found on the collection page and you may use the search bar to find certain pokemon by name.
        </p>

        <h3>Evolution System</h3>
        <p>
            This version of the game features the Kanto region which has a total of 151 Pokemon.<br /> Each pokemon evolutionary tree has
            1-3 stages. At the beginning of the game, you may only roll first evolution pokemon. For each duplicate Pokemon your roll,
            the level of that pokemon will be increased by one and once they reach a specific level, you will unlock their next evolution
            (if it exists) and can now be summoned.<br /> Each pokemon has their own specific level in which their next evolution will
            be unlocked and this level corresponds to the real Pokemon game. 
        </p>
        <h3>Rarity</h3>
        <p>
            Some Pokemon are classified as Mythical or Legendary. Summoning a Mythical Pokemon is 10 times more unlikely and Legendary
            Pokemon is 100 times more unlikely.
        </p>
        
        
    </div>

</body>
</html>