
@{
    ViewData["Title"] = "Play";
}
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/play.css" />
</head>
<body>
    <div class="play">
        <div class="background-sky">test</div>
        <div class="background-grass"></div>
        <div class="pokeBall"></div>
    </div>
</body>
</html>



