
@{
    ViewData["Title"] = "Play";
}
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/play.css" />
</head>
<body>
    <div class="summon-text animate-words">Summon a Pokemon!</div>
    <img class="arrow" src="~/resources/arrow.png" />
    <div class="play-buttons">
        <img class="pokeball" src="~/resources/pokeball2.png" />
    </div>
    <div class="history-container">
        <div id="history-text">History</div>
        <div class="history-panel">
            <!--test image element for each history frame-->
        </div>
    </div>
</body>
</html>



