
@{
    ViewData["Title"] = "Play";
}
<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/play.css" />
</head>
<body>
    <p class="summon-text">Summon a Pokemon!</p>
    <img class="arrow" src="~/resources/arrow.png"/>
    <img class="pokeball" src="~/resources/pokeball.png"/>
    <div class="history_panel">
        <div class="history_container">
            <div class="history_frames"></div>
            <div class="history_frames"></div>
            <div class="history_frames"></div>
            <div class="history_frames"></div>
            <div class="history_frames"></div>
            <div class="history_frames"></div>
            <div class="history_frames"></div>
        </div>
    </div>
</body>
</html>



